
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.background{
    margin: 0;
    padding: 0;
    white-space: none;
    background: url(./paper.jpg);
   height: 70vh;
    position: absolute;
}


.innerSection{
    width: 60vw;
    height: 60vh;
    background: black;
    position: absolute;
    margin-left: 20vw;
    margin-top: 25vh;
}

.homebutton{
    background:transparent;
    background-repeat: no-repeat;
    border: none;
    color: aqua;
    margin-top: 5vh;
    margin-left: 5vw;

}