
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.background{
    margin: 0;
    padding: 0;
    white-space: none;
    background: url(./paper.jpg);
   height: 70vh;
    position: absolute;
}


.innerSection{
    width: 40vw;
    height: 40vh;
    background: black;
    position: absolute;
    margin-left: 30vw;
    margin-top: 25vh;
}